{% extends "shell.html" %}
{% block title %}Argent Ridge{% endblock %}
{% block content %}
<div class="gate">
  <img class="mark" src="/favicon.svg" alt="" width="58" height="58">
  <h1 class="wordmark">ARGENT RIDGE</h1>
  <p class="tag">Staff sign-in</p>
  {% if error %}<div class="err">{{ error }}</div>{% endif %}
  <form method="post" action="/login" autocomplete="on">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" required autofocus
           autocomplete="username" value="{{ email or '' }}">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required
           autocomplete="current-password">
    <button class="btn" type="submit">Sign in</button>
  </form>
  <p class="foot"><a href="/forgot">Forgot your password?</a></p>
  <p class="foot">Accounts are created by an administrator. There is no public sign-up.</p>
</div>
{% endblock %}
